img {
   
    border-radius: 50%;
    
  }

  a{
      text-decoration: none;
      color: black;
      
  }

  .sc-ion-card-md-h{
      box-shadow:0px 1px 0px  rgba(0,0,0, 0.7);
      border-radius: 0%;
  }

  #ltia {
    border-radius: 0%;
    }